10;./Banamex 2015/Banamex 2015.xls.bnx oro-2636.csv;
11;./Banamex 2015/Banamex 2015.xls.Hoja2.csv;
12;./Banamex 2015/Banamex 2015.xls.bnx 2125.csv;
13;./Banamex 2015/Banamex 2015.xls.Hoja1.csv;
14;./Banamex 2015/Banamex 2015.xls.bnx clasica-800.csv;
20;./Bancomer 2017/BANCOMER-Clientes.mdb.b'BD_FINAL'.csv;
30;./Ife 2015/BCS.accdb.b'BCS'.csv;
40;./Santander/Tarjetas-Credito_Santander.xls.Sheet1.csv;
50;./Telmex 2012/Aguascalientes 32.900.xls.Aguascalientes.csv;